<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>writeFeel</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Heading of the web page -->
    <h1>Write_Feel</h1>

    <!-- For creating new post. -->
    <a href="http://localhost:8080/posts/new">Create new post</a>

    <!-- this div contains all the posts of this web -->
    <% for (const iterator of posts) { %>
        <div id="posts">
            <div class="post-wrapper">
                <h4><i>
                        <%= iterator.username %>
                    </i></h4>
                <div class="post-container">
                    <p>
                        <%= iterator.content %>
                    </p>
                </div>

                <br>
                    <div class="buttonInLine">
                        <a href="http://localhost:8080/posts/<%= iterator.id %>" class="view-full-button">View Full</a>
                        <a href="http://localhost:8080/posts/<%= iterator.id %>/edit" class="view-full-button">Edit Post</a>
                        <form method="post" action="/posts/<%= iterator.id %>?_method=DELETE">
                            <button class="deleteButton">Delete Post</button>
                        </form>
                    </div>



            </div>
        </div>
        <% } %>

</body>

</html>